In [ ]:
Activities for Custom DataFrame
Activity 1: Create new dataframe from

import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Emma', 'Frank', 'Grace', 'Henry', 'Isabella', 'Jack', 'Karen', 'Liam', 'Maria', 'Nathan', 'Olivia', 'Peter'],
    'Age': [25, 30, 45, 20, 28, 50, 32, 37, 23, 42, 29, 31, 48, 27, 36, 41],
    'Sex': ['F', 'M', 'M', 'F', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'M']
}
​
# create dataframe from dictionary in `df`
df = pd.DataFrame(data=data)
Activity 2: Answer basic statistics questions

# Use pandas function to get statistical information about data
df.Age.min()
20

df.Age.max()
50

df.Age.mean()
34.0
Activity 3: Create new columns

# Add new column 'Status' to the dataframe
df['Status'] = ['Student', 'Worker', 'Worker', 'Student', 'Student', 'Retiree', 'Worker', 'Worker', 'Student', 'Worker', 'Student', 'Worker', 'Retiree', 'Student', 'Worker', 'Worker']
​
Activity 4: Rename columns

# rename column names as given
df.rename(columns={'Name':'Full Name','Age':'Years Old','Sex':'Gender'}, inplace=True)
Activity 5: Drop single row

# Drop row with index as 4
# Make sure do not delete extra rows than as given to drop otherwise test case will fail. In case it happen re-run all the activities from starting.
df.drop(index=4,axis=0,inplace=True)
Activity 6: Drop multiple rows

# Drop row with index as 7 and 9
df.drop(index=[7,9],axis=0, inplace=True)
Activity 7: Drop rows with condition

# Drop row with Full Name 'Bob'
df.drop(df[df['Full Name']=="Bob"].index, axis=0, inplace=True)
Activity 8: Add new row to dataframe

# Add new row as given data
new = {'Full Name': 'Emma',
'Years Old': 28,
'Gender': 'F',
'Status': 'Student'}
df = pd.concat([df,pd.DataFrame(new, index=[len(df)])],axis=0)
Activity 9: Add multiple rows to dataframe

# Add multiple rows
new = { 'Full Name':['Bob','Emma','Henry','Jack'],
      'Years Old':[30,28,37,42],
      'Gender':['M','F','M','M'],
      'Status':['Worker','Student','Worker','Worker']}
df = pd.concat([df,pd.DataFrame(new)],axis=0, ignore_index=True)
Activity 10: Filter the dataframe

# Filter dataframe with given condition
Filter_Data = df.query('Gender =="F" and Status=="Student" and `Years Old` >20')
Activity 11: Select all options

# Select all that apply
Filter_Data.shape
(5, 4)
Activity 12: Select all options

# Select all that apply
Filter_Data.dtypes
Full Name    object
Years Old     int64
Gender       object
Status       object
dtype: object
Activity 13: Select all correct options

# Select all that apply
Filter_Data['Years Old'].max()
29

Filter_Data['Years Old'].min()
23

Filter_Data.loc[Filter_Data['Years Old']==Filter_Data['Years Old'].max()]
Full Name	Years Old	Gender	Status
6	Karen	29	F	Student

Filter_Data.loc[Filter_Data['Years Old']==Filter_Data['Years Old'].min()]
Full Name	Years Old	Gender	Status
5	Isabella	23	F	Student
Activity 14: Create basic plots: Line plot

# Create line chart
df.plot(x='Full Name',y='Years Old')
<Axes: xlabel='Full Name'>

Activity 15: Create basic plots: Bar plot

# Create bar chart
df.Gender.value_counts().plot(kind='bar')
<Axes: xlabel='Gender'>

Activity 16: Create basic plots: Pie Chart

# create pie chart
df.Gender.value_counts().plot(kind='pie',autopct='%1.1f%%')
<Axes: ylabel='count'>

Deal with Titanic passenger dataset.
Activity 17: Read the titanic dataset

import pandas as pd

# read `titanic.csv` file and store it in `df` variable.
df = pd.read_csv('titanic.csv')
Activity 18: Get information about the dataset

# Use info() method
df.info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB
Activity 19: Get basic statistics about the dataset

# Use describe() method
df.describe()
Survived	Pclass	Age	Siblings/Spouses Aboard	Parents/Children Aboard	Fare
count	887.000000	887.000000	887.000000	887.000000	887.000000	887.00000
mean	0.385569	2.305524	29.471443	0.525366	0.383315	32.30542
std	0.487004	0.836662	14.121908	1.104669	0.807466	49.78204
min	0.000000	1.000000	0.420000	0.000000	0.000000	0.00000
25%	0.000000	2.000000	20.250000	0.000000	0.000000	7.92500
50%	0.000000	3.000000	28.000000	0.000000	0.000000	14.45420
75%	1.000000	3.000000	38.000000	1.000000	0.000000	31.13750
max	1.000000	3.000000	80.000000	8.000000	6.000000	512.32920
Activity 20: Calculating Basic Statistics for a Column

age_mean = df.Age.mean()

age_median = df.Age.median()

age_std_deviation = df.Age.std()
Activity 21: Create new column

df.head()
Survived	Pclass	Name	Sex	Age	Siblings/Spouses Aboard	Parents/Children Aboard	Fare
0	0	3	Mr. Owen Harris Braund	male	22.0	1	0	7.2500
1	1	1	Mrs. John Bradley (Florence Briggs Thayer) Cum...	female	38.0	1	0	71.2833
2	1	3	Miss. Laina Heikkinen	female	26.0	0	0	7.9250
3	1	1	Mrs. Jacques Heath (Lily May Peel) Futrelle	female	35.0	1	0	53.1000
4	0	3	Mr. William Henry Allen	male	35.0	0	0	8.0500

# Craete new column 'Family Size'
df['Family Size'] = df['Siblings/Spouses Aboard']+df['Parents/Children Aboard']+1
Activity 22: Rename columns

# Rename 'Fare' column to 'Ticket Price'
df.rename(columns={'Fare':'Ticket Price'},inplace=True)
Activity 23: Rename multiple columns

# Remane multiple column Name
df.rename(columns={'Pclass':'Passenger Class','Name':'Full Name'}, inplace=True)
Activity 24: Drop rows with condition

# Drop rows where age is less than 18 years old.
df.drop(df[df.Age<18].index,inplace=True)
Activity 25: Add new row

# Try your code here
df2 = {'Survived':  0,
       'Passenger Class': 3,
       'Full Name': 'Harry',
       'Sex': 'male',
       'Age': 30,
       'Siblings/Spouses Aboard': 0,
       'Parents/Children Aboard': 2,
       'Ticket Price': 50.00,
       'Family Size': 3
    }
df = pd.concat([df,pd.DataFrame(df2, index=[0])],ignore_index=True)
Activity 26: Filter the dataframe

# Create a new dataframe named 'filtered_df'
filtered_df = df.query(" `Passenger Class`==1 and `Ticket Price`>100")
Activity 27: Create bar chart

new_df = pd.read_csv('titanic.csv')
import matplotlib.pyplot as plt
​
counts = new_df['Pclass'].value_counts()
counts.plot(kind='bar')
plt.show()
​

Activity 28: Create a pie chart

# Create a pie chart
new_df = pd.read_csv('titanic.csv')
gender_counts = new_df['Sex'].value_counts()
gender_counts.plot(kind='pie', autopct='%1.1f%%')
plt.show()
​

The End!